{% extends 'happy/base_index.html' %}

{% load static %}


{% block styles %}
    <style>
        .bargage{
            width:100%;
            height:100%;
            position:relative;
        }
        .t-center{
            width:100%;
            padding-top:100px;
        }
        .t-center img{
            display:block;
            margin:0 auto;
        }
        .t-center div{
            color:#999;
            text-align:center;
            font-size:14px;
            margin-top:15px;
        }
    </style>
{% endblock %}


{% block contens %}
  <div class="bargage">
      <div class="t-center">
         <img src="{% static 'img/garbage.png' %}" />
         <div>垃圾篓里面很干净！继续保持呦^*_*^!!!</div>
      </div>
  </div>
{% endblock %}


{% block scripts %}
    <script>
        $("#treeMenu li").removeClass("active").removeClass('open');
        $('#treeMenu li:nth-child(8)').addClass('active');

    </script>
{% endblock %}











