html, body{
    width:100%;
    height:100%;

}
::-webkit-scrollbar{
    width:0;
}
body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    overflow-y:auto;
    background:#eee;
}
/*头部*/
header{
    width: 100%;
    height: 60px;
    font-size:12px;
    border-top:1px solid #f0c746;
    z-index:10;
    position:fixed;
    display: flex;
    background: #fbdf54;
    top:0;
    left:0;
    padding:0 15px;
    box-sizing: border-box;
}
header div{
    height:60px;
    line-height:60px;
    font-size:14px;
    color: #ffba4e;
}

/*  下面内容部分   */
#bigmain{
    width:100%;
    height:100%;
    padding-top:60px;
    box-sizing: border-box;
    position:relative;
}
.leftside{
    width:200px;
    height:100%;
    background:#eee;
}
.tree-menu li{
    background:#fff;
    border-bottom:1px solid #eee;
}
.tree-menu{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/*右边部分*/
.rightside{
    position:absolute;
    top:60px;
    bottom:0;
    right:0;
    left:200px;
    min-width:820px;
    overflow:auto;
}


a{
    text-decoration:none
}
.onlog a{
    color:#fff;
}
a:link{
    text-decoration:none
}
a:visited{
    text-decoration:none
}
a:hover{
    text-decoration:none
}
a:active{
    text-decoration:none
}


/*waitting*/
.waitting{
	text-align: center;display: block;width: 92px;height: 92px;position: fixed;top: 50%;left: 50%;margin-left: -46px;margin-top: -90px;z-index: 100;border-radius: 6px;
	background: rgba(0,0,0,0.8) url(/static/img/loading.gif) 28px 14px no-repeat;background-size:40px;
}
.waitting:after{
	content: "加载中...";display: inline-block; font-size: 12px;color: #eee;padding-top: 59px;
}
.waitting.loading:after{
	content: "正在登录...";
}


